@import "../_app-variables.scss";

.sec {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;
	transition: width 1s ease-in;

	&__block {
		position: absolute;
		top: 25%;
		right: 10%;
		border-radius: 50%;
		overflow: hidden;
	}

	&__title {
		text-wrap: nowrap;
		margin: 40% auto 10px 50px;
	}

	&__subtitle {
		text-wrap: nowrap;
		color: $text-pri;
		margin: 10px auto 200px 50px;
		color: $text-sec;
	}

	&__img {
		width: auto;
		height: 300px;
	}
}

.nav__item {
	.sec__title,
	.sec__subtitle {
		width: 0px;
		overflow: hidden;
		transition: width 0.5s ease-in;
	}

	&:hover {
		width: 140% !important;

		.sec__title,
		.sec__subtitle {
			width: 350px;
		}
	}
}
