@import "../_app-variables.scss";

.card {
	flex: 1;
	transition: all 0.5s ease-in-out;
	min-height: 100%;
	position: relative;
	background-color: $bg-sec;
	border-radius: 5px;
	padding: 30px 5px 20px 5px;
	box-shadow: $shadow-sec;

	&--loading {
		order: 1;
		width: 20%;
		overflow: hidden;
		margin-right: 5px;
	}

	&--position {
		order: 2;
		width: 60%;
	}

	&--unloading {
		order: 3;
		width: 20%;
		overflow: hidden;
		margin-left: 5px;
	}

	&__box {
		width: 100%;
		overflow: hidden;
	}

	&__head {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		height: 25px;
		width: 100%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: $app;
		transform-origin: left bottom;
		transition: all 0.5s ease-in-out;
		padding: 0 5px;
		overflow: hidden;

		&.warning {
			background-color: $danger;
		}

		span {
			color: $text-color-ter;
			overflow: hidden;
			white-space: nowrap;
		}

		span:not(:first-child):not(:last-child) {
			font-family: $font-family-sec;
		}

		i {
			color: $text-color-ter;
			width: 20px;
			margin-left: 5px;

			&:hover {
				scale: 1.2;
			}
		}
	}

	&__icon {
		top: unset;
		bottom: 2px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	& > .icon--input-add {
		position: absolute;
	}

	&.active {
		flex-grow: 8;
		padding: 30px 15px 15px 15px;

		.card__head {
			width: 100%;
		}
	}

	&.active.active--edit {
		.card__head:not(.warning) {
			background-color: $app-accent;
		}
	}

	&--position.active {
		flex-grow: 20;
		padding: 30px 0 20px 0;
	}

	&.active ~ .card--position {
		min-width: 400px;
	}
}
