<div class="nav">
	<div class="sec blue">
		<div data-title="Die Idee" class="sec__block floating">
			<img src="../../../assets/img/animoji/blue.png" alt="blue" class="sec__img">
			<h1 class="sec__title mt-50">Die Ideen</h1>
			<!-- <h3 class="sec__subtitle">setzen wir in Produkt um.</h3> -->
		</div>
	</div>
	<div class="sec green">
		<div class="sec__block floating-fast">
			<img src="../../../assets/img/animoji/green.png" alt="green" class="sec__img">
			<h1 class="sec__title mt-50">Die Entwicklung</h1>
			<!-- <h3 class="sec__subtitle">mit agilem Ansatz kümmern wir uns darum.</h3> -->
		</div>
	</div>
	<div class="sec black">
		<div class="sec__block floating-slow">
			<img src="../../../assets/img/animoji/black.png" alt="black" class="sec__img">
			<h1 class="sec__title mt-50">Die Koordination</h1>
			<!-- <h3 class="sec__subtitle">ist unsere starke Seite</h3> -->
		</div>
	</div>
	<div class="sec red">
		<div class="sec__block floating">
			<img src="../../../assets/img/animoji/red.png" alt="red" class="sec__img">
			<h1 class="sec__title mt-50">Der Betrieb</h1>
			<!-- <h3 class="sec__subtitle">machen wir gerne</h3> -->
		</div>
	</div>
	<div class="sec skin">
		<div class="sec__block floating-fast">
			<img src="../../../assets/img/animoji/skin.png" alt="skin" class="sec__img">
			<h1 class="sec__title mt-50">Das Team</h1>
			<!-- <h3 class="sec__subtitle">sind wir an deiner Seite</h3> -->
		</div>
	</div>
</div>
