@import "../_app-variables.scss";

.w-50 {
	width: 50px !important;
}

.w-60 {
	width: 60px !important;
}

.w-70 {
	width: 70px !important;
}

.w-80 {
	width: 80px !important;
}

.w-90 {
	width: 90px !important;
}

.w-100 {
	width: 100px !important;
}

.w-150 {
	width: 150px !important;
}

