@import "../_app-variables.scss";

.danger {
	color: $danger !important;
}

.warning {
	color: $warning !important;
}

.success {
	color: $success !important;
}

.app {
	color: $app !important;
}

.bg--app {
	background-color: $app !important;
}

.bg--pro {
	background-color: $app-pro !important;
}

.bg--accent {
	background-color: $app-accent !important;
}

.bg--danger {
	background-color: $danger !important;
}

.bg--app {
	background-color: $app !important;
}

.bg--gray {
	background-color: $row-bg-color !important;
}

.bg--success {
	background-color: $success !important;
}


.white-space {
	white-space: pre !important;
}

.mirror-hor {
	transform: scaleX(-1);
}


.icon-block {
	position: relative;
	display: flex;
	align-items: center;

	i {
		font-size: 9px !important;
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: 40;
	}
}
