@import "../_app-variables.scss";

.bold {
	font-weight: 700;
}

.super-bold {
	font-weight: 900;
}

.first,
.impressum {
	background-color: $first;
	background: linear-gradient(60deg, #155b84 0, $first 40%) $first;
}

.second {
	background-color: $second;
	background: linear-gradient(60deg, #00a85f 0, $second 40%) $first;
}

.third {
	background-color: $third;
	background: linear-gradient(60deg, #393e46 0, $third 40%) $third;
}

.fourth,
.datenschutz {
	background-color: $fourth;
	background: linear-gradient(60deg, #84323A 0, $fourth 40%) $fourth;
}

.fifth {
	background-color: $fifth;
	background: linear-gradient(60deg, #A2928D 0, $fifth 40%) $fifth;
}

.sixth {
	background-color: $sixth;
	background: linear-gradient(125deg, #393e46 0, $sixth 100%) $sixth;

}
