@import "../_app-variables.scss";

.bold {
  font-weight: $font-weight-bold;
}

td.bold  * {
	font-weight: 700;
}

.super-bold {
  font-weight: $font-weight-bolder;
}

.required {
	&::after {
		content: "*";
		display: inline-block;
		margin-left: 2px;
	}
}


input.inactive {
  position: relative !important;
  z-index: 1 !important;
  pointer-events: none;

  &::after {
    content: "";
    display: block;
    background-color: $inactive;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5 !important;
  }
}

.text-overflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}


.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}


.clickable {
	cursor: pointer;
	transform-origin: center center;
	transition: all 0.5s ease-in-out;

	&:hover {
		transform: scale(1.05) !important;
	}
}
