<clt-preview navOrder="datenschutz" [isPreview]="isPreview"></clt-preview>

<div class="container">
	<div>
		Mit dieser Datenschutzerklärung möchten wir Sie darüber informieren, wie wir personenbezogene Daten
		verarbeiten
		und Sie über Ihre Rechte aufklären. Wir sind uns bewusst, welche Bedeutung die Verarbeitung
		personenbezogener
		Daten für Sie als betroffener Nutzer hat und beachten dementsprechend alle einschlägigen
		gesetzlichen Vorgaben.
		Dabei ist der Schutz Ihrer Privatsphäre für uns von höchster Bedeutung. Die Verarbeitung Ihrer
		personenbezogenen
		Daten durch uns erfolgt unter Einhaltung der Datenschutzgrundverordnung, sowie der landesrechtlichen
		Datenschutzbestimmungen.
	</div>
	<br>
	<h3>Namen und Kontaktdaten des Verantwortlichen sowie seines Vertreters</h3>
	<div>
		<strong>Neufra Speditions GmbH</strong>
		<br>
		Moselstr. 8
		<br>
		41464 Neuss
		<br>
		<br>
		<a href="tel:+0213140750">Telefon: 02131 - 40 75 - 0</a>
		<br>
		<a href="mailto:neuss@neufra.eu">"E-Mail: neuss&commat;neufra.eu"</a>
		<br>
		<br>
		vertretungsberechtigter Geschäftsführerin: Sandra Hast-Herrendor
		<br>
		<br>
		<strong>Datenschutzbeauftragter</strong>
		<br>
		<strong>Wolfgang Hast</strong>
		<br>
		Neufra Speditions GmbH<br>
		Moselstr. 8<br>
		41464 Neuss<br>
		<br>
		<a href="tel:+0213140750">Telefon: 02131 - 40 75 - 0</a>
		<br>
		<a href="mailto:neuss@neufra.eu">E-Mail: neuss&commat;neufra.eu</a>
		<br>
	</div>
	<br>
	<h3>Begriffsbestimmungen</h3>
	<br>
	<div>Diese Datenschutzerklärung bedient sich der Begrifflichkeiten der Datenschutzgrundverordnung
		(DSGVO).
	</div>
	<br>
	<div>
		<strong>„personenbezogene Daten“</strong> sind alle Informationen, die sich auf eine identifizierte
		oder identifizierbare
		natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine
		natürliche Person
		angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem
		Namen, zu einer
		Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen
		Merkmalen
		identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen,
		wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
		<br>
		<br>
		<strong>„Verarbeitung“</strong> ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführter
		Vorgang oder jede solche
		Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die
		Organisation, das
		Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung,
		die
		Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich
		oder die
		Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.
		<br>
		<br>
		<strong>„Einschränkung der Verarbeitung“</strong> ist die Markierung gespeicherter personenbezogener
		Daten mit dem Ziel, ihre
		künftige Verarbeitung einzuschränken.
		<br>
		<br>
		<strong>„Profiling“</strong> ist jede Art der automatisierten Verarbeitung personenbezogener Daten,
		die darin besteht, dass diese
		personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine
		natürliche Person
		beziehen, zu bewerten, insbesondere um Aspekte bezüglich Arbeitsleistung, wirtschaftliche Lage,
		Gesundheit,
		persönliche Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel
		dieser
		natürlichen Person zu analysieren oder vorherzusagen.
		<br>
		<br>
		<strong>„Pseudonymisierung“</strong> ist die Verarbeitung personenbezogener Daten in einer Weise,
		dass die personenbezogenen
		Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person
		zugeordnet
		werden können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen
		und
		organisatorischen Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht
		einer
		identifizierten oder identifizierbaren natürlichen Person zugewiesen werden.
		<br>
		<br>
		<strong>„Dateisystem“</strong> ist jede strukturierte Sammlung personenbezogener Daten, die nach
		bestimmten Kriterien zugänglich
		sind, unabhängig davon, ob diese Sammlung zentral, dezentral oder nach funktionalen oder
		geografischen
		Gesichtspunkten geordnet geführt wird;
		<br>
		<br>
		<strong>„Verantwortlicher“</strong> ist die natürliche oder juristische Person, Behörde, Einrichtung
		oder andere Stelle, die
		allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen
		Daten
		entscheidet; sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der
		Mitgliedstaaten vorgegeben, so können der Verantwortliche beziehungsweise die bestimmten Kriterien
		seiner
		Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.
		<br>
		<br>
		<strong>„Auftragsverarbeiter“</strong> ist eine natürliche oder juristische Person, Behörde,
		Einrichtung oder andere Stelle, die
		personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.
		<br>
		<br>
		<strong>„Empfänger“</strong> ist eine natürliche oder juristische Person, Behörde, Einrichtung oder
		andere Stelle, denen
		personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten
		handelt oder
		nicht. Behörden, die im Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem
		Recht der
		Mitgliedstaaten möglicherweise personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger;
		die
		Verarbeitung dieser Daten durch die genannten Behörden erfolgt im Einklang mit den geltenden
		Datenschutzvorschriften gemäß den Zwecken der Verarbeitung.
		<br>
		<br>
		<strong>„Dritter“</strong> ist eine natürliche oder juristische Person, Behörde, Einrichtung oder
		andere Stelle, außer der
		betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der
		unmittelbaren
		Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen
		Daten zu
		verarbeiten.
		<br>
		<br>
		<strong>„Einwilligung“</strong> ist die der betroffenen Person freiwillig für den bestimmten Fall,
		in informierter Weise und
		unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen
		eindeutigen
		bestätigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der
		Verarbeitung der sie
		betreffenden personenbezogenen Daten einverstanden ist.
	</div>
	<br>
	<h3>Verarbeitungsvorgänge</h3>
	<br>
	<div>
		<strong>Wir erheben und verarbeiten die folgenden personenbezogenen Daten über Sie:</strong>
		<br>
		<br>
		<ul>
			<li>Kontakt -und Adressinformationen, sofern Sie uns Ihre Kontaktinformationen übermittelt oder
				sich auf unserer Seite registriert haben,</li>
			<li>Firmenname und Anschrift des Unternehmens,</li>
			<li>Versicherungsbescheinigungen und EU-Bescheinigungen,</li>
			<li>Online-Identifikatoren (z.B. Ihre IP-Adresse, Browsertyp und Browserversion, das verwandte
				Betriebssystem, die Referrer-URL, die IP-Adresse, den Dateinamen, den Zugriffsstatus, die
				übertragene Datenmenge, das Datum und die Uhrzeit der Serveranfrage),</li>
			<li>Kundennummer des Accounts, der Zeitpunkt des Downloads und die individuelle
				Gerätekennziffer,</li>
			<li>Standort- und Bewegungsdaten,</li>
			<li>Social Media-Identifikatoren.</li>
		</ul>
	</div>
	<h3>Verarbeitungszwecke</h3>
	<br>
	<div>
		<strong>Wir verarbeiten Ihre Daten zu den folgenden Zwecken:</strong>
		<br>
		<br>
		<ul>
			<li>für die von Ihnen gewünschte Kontaktaufnahme,</li>
			<li>zur Vergabe von Transportaufträgen an Frachtunternehmer aus der Auswertung der erhobenen
				Daten,</li>
			<li>zur Übermittlung von Touranfragen und Frachtaufträgen,</li>
			<li>zur Bereitstellung der Plattform,</li>
			<li>zu Werbezwecken,</li>
			<li>zur Versendung des E-Mail-Newsletters, sofern Sie sich hierfür angemeldet haben,</li>
			<li>zur Qualitätssicherung und</li>
			<li>für unsere Statistik.</li>
		</ul>
	</div>
	<h3>Rechtsgrundlage der Datenverarbeitung</h3>
	<br>
	<div>
		<strong>Die Verarbeitung Ihrer Daten geschieht auf den folgenden Rechtsgrundlagen:</strong>
		<br>
		<br>
		<ul>
			<li>Ihrer Einwilligung nach Art. 6 Abs. 1 lit. a) DSGVO,</li>
			<li>zur Durchführung eines Vertrags mit Ihnen nach Art. 6 Abs. 1 lit. b) DSGVO,</li>
			<li>zur Erfüllung gesetzlicher Pflichten nach Art. 6 Abs. 1 lit. c) DSGVO oder</li>
			<li>aus einem berechtigten Interesse nach Art. 6 Abs. 1 lit. f) DSGVO.</li>
		</ul>
	</div>
	<h3>Berechtigte Interessen</h3>
	<br>
	<div>Sofern wir die Verarbeitung Ihrer personenbezogenen Daten auf berechtigte Interessen iSv. Art. 6
		Abs. 1 lit. f) DS-GVO stützen, sind solche
		<br>
		<br>
		<ul>
			<li>die Verbesserung unseres Angebots,</li>
			<li>der Schutz vor Missbrauch und</li>
			<li>die Führung unserer Statistik.</li>
		</ul>
	</div>
	<h3>Datenquellen</h3>
	<br>
	<div>Wir erhalten die Daten von Ihnen (einschließlich über die von Ihnen verwendeten Geräte). Sollten
		wir die personenbezogenen Daten nicht direkt von Ihnen erheben, so teilen wir Ihnen zusätzlich mit,
		aus welcher Quelle die personenbezogenen Daten stammen und gegebenenfalls ob sie aus öffentlich
		zugänglichen Quellen stammen.</div>
	<br>
	<div>Bei der Verarbeitung Ihrer Daten arbeiten wir mit den folgenden Dienstleistern zusammen, die
		Zugriff auf Ihre Daten haben:</div>
	<br>
	<div>
		<ul>
			<li>Anbieter von Webanalyse-Tools: Google Inc. (Google Analytics); Squarespace (Square
				Analytics)</li>
			<li>Web-Hosting-Anbieter: Amazon Web Services, Inc.; Google Inc. (Firebase)</li>
			<li>Frachtunternehmer im Rahmen der Vergabe.</li>
		</ul>
	</div>
	<div>Es findet eine Datenübertragung in Drittländer außerhalb der Europäischen Union statt. Dies erfolgt
		auf der Grundlage gesetzlich vorgesehener vertraglicher Regelungen, die einen angemessenen Schutz
		Ihrer Daten sicherstellen sollen und die Sie auf Anfrage einsehen können.</div>
	<br>
	<h3>Speicherdauer</h3>
	<br>
	<div>Wir speichern Ihre personenbezogenen Daten nur solange, wie es für die Erreichung des
		Verarbeitungszweckes nötig ist oder die Speicherung einer gesetzlichen Aufbewahrungsfrist
		unterliegt. Wir speichern Ihre Daten,</div>
	<br>
	<div>
		<ul>
			<li>wenn Sie in die Verarbeitung eingewilligt haben höchstens solange, bis Sie Ihre Einwilligung
				widerrufen,</li>
			<li>wenn wir die Daten zur Durchführung eines Vertrags benötigen höchstens solange, wie das
				Vertragsverhältnis mit Ihnen besteht oder gesetzliche Aufbewahrungsfristen laufen,</li>
			<li>wenn wir die Daten auf der Grundlage eines berechtigten Interesses verwenden höchstens
				solange, wie Ihr Interesse an einer Löschung oder Anonymisierung nicht überwiegt.</li>
		</ul>
	</div>
	<h3>Ihre Rechte</h3>
	<br>
	<div>Sie haben – teilweise unter bestimmten Voraussetzungen – das Recht,</div>
	<br>
	<div>
		<ul>
			<li>unentgeltlich Auskunft über die Verarbeitung Ihrer Daten zu verlangen, sowie den Erhalt
				einer Kopie Ihrer
				personenbezogenen Daten. Auskunft können Sie u.a. verlangen über die Zwecke der
				Verarbeitung, die Kategorien der
				personenbezogenen Daten die verarbeitet werden, die Empfänger der Daten (sofern eine
				Weitergabe erfolgt), die
				Dauer der Speicherung oder die Kriterien für die Festlegung der Dauer;</li>
			<li>Ihre Daten zu berichtigen. Sollten Ihre personenbezogenen Daten unvollständig sein, so haben
				Sie, unter
				Berücksichtigung der Verarbeitungszwecke, das Recht die Daten zu vervollständigen;</li>
			<li>Ihre Daten löschen oder sperren zu lassen. Gründe für das Bestehen eines
				Löschungs-/Sperrungsanspruchs können
				u.a. sein der Widerruf der Einwilligung auf dem die Verarbeitung fußt, die betroffene Person
				legt Widerspruch
				gegen die Verarbeitung ein, die personenbezogenen Daten wurden unrechtmäßig verarbeitet;
			</li>
			<li>die Verarbeitung einschränken zu lassen;</li>
			<li>der Verarbeitung Ihrer Daten zu widersprechen;</li>
			<li>Ihre Einwilligung zur Verarbeitung Ihrer Daten für die Zukunft zu widerrufen und</li>
			<li>sich bei der zuständigen Aufsichtsbehörde über eine unzulässige Datenverarbeitung zu
				beschweren.</li>
		</ul>
	</div>
	<h3>Erfordernis oder Verpflichtung zur Bereitstellung von Daten</h3>
	<br>
	<div>
		Soweit dies bei der Erhebung nicht ausdrücklich angegeben ist, ist die Bereitstellung von Daten
		nicht
		erforderlich oder verpflichtend. Eine solche Verpflichtung kann sich aus gesetzlichen Vorgaben oder
		vertraglichen Regelungen ergeben.
	</div>
	<br>
	<h3>Weitere Informationen zum Datenschutz</h3>
	<br>
	<div class="bold">Kontaktformular</div>
	<br>
	<div>
		Das Kontaktformular auf unserer Website ist eine einfache Möglichkeit schnell mit uns in Kontakt zu
		treten.
		Damit die Kontaktaufnahme möglich ist, sind einige Felder als Pflichtfelder gekennzeichnet. Wenn Sie
		die Felder
		ausfüllen und „Senden“ wählen, stimmen Sie zu, dass Ihre Daten mit der Nachricht per E-Mail an uns
		übermittelt
		werden. Die Daten werden nicht auf dem Webserver gespeichert.
	</div>
	<br>
	<div class="bold">E-Mail-Newsletter</div>
	<br>
	<div>
		Das Kontaktformular auf unserer Website ist eine einfache Möglichkeit schnell mit uns in Kontakt zu
		treten.
		Damit die Kontaktaufnahme möglich ist, sind einige Felder als Pflichtfelder gekennzeichnet. Wenn Sie
		die Felder
		ausfüllen und „Senden“ wählen, stimmen Sie zu, dass Ihre Daten mit der Nachricht per E-Mail an uns
		übermittelt
		werden. Die Daten werden nicht auf dem Webserver gespeichert.
	</div>
	<br>
	<div class="bold">Datensicherung</div>
	<br>
	<div>
		Wir haben umfangreiche technische und organisatorische Maßnahmen ergriffen, um Ihre Daten gegen
		mögliche
		Gefahren, wie unbefugten Zugang oder Zugriff, unbefugte Kenntnisnahme, Veränderung oder Verbreitung,
		sowie vor
		Verlust, Zerstörung oder Missbrauch zu sichern.

		Um Ihre persönlichen Daten bei der Übertragung vor unberechtigtem Zugriff Dritter zu schützen,
		sichern wir die
		Datenübertragungen ggf. mittels SSL-Verschlüsselung. Es handelt sich dabei um ein standardisiertes
		Verschlüsselungsverfahren für Online-Dienste, insbesondere für das Web.
	</div>
	<br>
	<div class="bold">Logfiles</div>
	<br>
	<div>
		Bei jedem Zugriff auf unsere Internet-Seiten werden Nutzungsdaten durch den jeweiligen
		Internetbrowser
		übermittelt und in Protokolldateien, den sogenannten Server-Logfiles, gespeichert. Die dabei
		gespeicherten
		Datensätze enthalten die folgenden Daten: Domain, von der aus der Nutzer Zugriff auf die Webseite
		nimmt, Datum
		und Uhrzeit des Abrufs IP-Adresse des zugreifenden Rechners Webseite(n), die der Nutzer im Rahmen
		des Angebots
		besucht, übertragene Datenmenge, Browsertyp und -version, verwendetes Betriebssystem, Name des
		Internet-Service-Providers, Meldung, ob der Abruf erfolgreich war. Diese Logfile-Datensätze werden
		in
		anonymisierter Form ausgewertet, um das Angebot zu verbessern und nutzerfreundlicher zu gestalten,
		Fehler zu
		finden und zu beheben und die Auslastung von Servern zu steuern.
	</div>
	<br>
	<div class="bold">Apple Store und Google Play Store</div>
	<br>
	<div>
		Unsere App können Sie im Apple Store, bzw. im Google Play Store herunterladen. Wir verweisen
		diesbezüglich auf
		die Nutzungs- und Datenschutzbestimmungen von Apple und Google.
	</div>
	<br>
	<br>
	<h4>
		Stand dieser Allgemeinen Geschäftsbedingungen
	</h4>
	<h4>
		Mai 2018
	</h4>
	<h4>
		Wir behalten uns vor, diese Datenschutzerklärung jederzeit mit Wirkung für die Zukunft zu ändern.
	</h4>
</div>
