@import "../_app-variables.scss";

input {
	// background-color: transparent !important;
	border: none !important;
	color: $text-color-pri !important;
	text-align: start;
	padding-left: 5px;
	width: 95%;
}

input.white-bg {
	background-color: $bg-sec !important;
}

input.gray-bg {
	background-color: #ececec !important;
}

* {
	/* Hide calendar picker icon for webkit-based browsers (Chrome and Safari) */
	input::-webkit-calendar-picker-indicator {
		display: none !important;
		-webkit-appearance: none;
	}

	/* Hide calendar picker icon for Firefox */
	input[type="date"]::-moz-calendar-picker-indicator {
		display: none !important;
	}

	/* Hide calendar picker icon for Safari */
	input[type="date"]::-webkit-calendar-picker-indicator {
		display: none !important;
		-webkit-appearance: none;
	}

	/* Hide text in date and time input fields for webkit-based browsers */
	input[type="date"]:in-range::-webkit-datetime-edit-year-field,
	input[type="date"]:in-range::-webkit-datetime-edit-month-field,
	input[type="date"]:in-range::-webkit-datetime-edit-day-field,
	input[type="date"]:in-range::-webkit-datetime-edit-text,
	input[type="time"]:in-range::-webkit-datetime-edit-hour-field,
	input[type="time"]:in-range::-webkit-datetime-edit-minute-field,
	input[type="time"]:in-range::-webkit-datetime-edit-text {
		color: transparent;
	}

	/* Hide text in date and time input fields for Firefox */
	input[type="date"]::-moz-date- and input[type="time"]::-moz-time- {
		color: transparent;
	}

	/* Hide text in date and time input fields for Safari */
	input[type="date"]::-webkit-datetime-edit-year-field,
	input[type="date"]::-webkit-datetime-edit-month-field,
	input[type="date"]::-webkit-datetime-edit-day-field,
	input[type="date"]::-webkit-datetime-edit-text,
	input[type="time"]::-webkit-datetime-edit-hour-field,
	input[type="time"]::-webkit-datetime-edit-minute-field,
	input[type="time"]::-webkit-datetime-edit-text {
		// color: transparent;
	}
}

*.cdk-focused,
*.mat-focused {
	input[type="date"]:in-range::-webkit-datetime-edit-year-field,
	input[type="date"]:in-range::-webkit-datetime-edit-month-field,
	input[type="date"]:in-range::-webkit-datetime-edit-day-field,
	input[type="date"]:in-range::-webkit-datetime-edit-text {
		color: unset;
	}

	input[type="time"]:in-range::-webkit-datetime-edit-hour-field,
	input[type="time"]:in-range::-webkit-datetime-edit-minute-field,
	input[type="time"]:in-range::-webkit-datetime-edit-text {
		color: unset;
	}
}
