@import "../_app-variables.scss";
@import "../../styles/settings/settings-breakpoints";

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like-title,
.h4-like{
    font-family: $font-family-pri;
    padding: 0;
    margin: 0 0 15px 0;
}

h5,
.h5-like,
h6,
.h6-like {
    font-family: $font-family-sec;
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
.h1-like {
    font-size: 25px;
    line-height: 28px;
	@include for-tablet-landscape-up {
		font-size: 40px;
    	line-height: 44px;
	}
}

h2,
.h2-like {
    font-size: 32px;
    line-height: 38px;
	@include for-tablet-landscape-up {
		font-size: 32px;
		line-height: 38px;
	}

}

h3,
.h3-like {
    font-size: 28px;
    line-height: 31px;
	@include for-tablet-landscape-up {
		font-size: 28px;
    	line-height: 31px;
	}
}

h4,
.h4-like,
.h4-like-title {
    font-size: 22px;
    line-height: 24px;
	@include for-tablet-landscape-up {
		font-size: 22px;
    	line-height: 24px;
	}
}

h5,
.h5-like {
    font-size: 28px;
    line-height: 31px;
    font-weight: 300;
	@include for-tablet-landscape-up {
		font-size: 28px;
		line-height: 31px;
		font-weight: 300;
	}
}

h6,
.h6-like {
    font-size: 25px;
    line-height: 28px;
    font-weight: 300;
	@include for-tablet-landscape-up {
		font-size: 40px;
		line-height: 44px;
		font-weight: 300;
	}
}
