@import "../_app-variables.scss";

button {
	padding: 6px 50px !important;
	border-radius: 0 !important;

	.mat-mdc-button-persistent-ripple {

	}

	.mdc-button__label {
		color: $text-color-ter !important;
		text-transform: uppercase !important;
		font-family: $font-family-sec;
		line-height: 1 !important;
	}

	.mat-mdc-focus-indicator {
	}

	.mat-ripple {
	}

	.mat-mdc-button-touch-target {
	}
}

button:disabled {
    background-color: $inactive !important;
}

button.mat-accent:disabled {
    background-color: $inactive-accent !important;
}

button.mat-primary:disabled {
    background-color: $inactive !important;
}


button.mat-raised-button {
	border-radius: 0px !important;
	min-width: 135px !important;

	.mat-button-wrapper {
		color: $text-color-ter !important;
		text-transform: uppercase !important;
		font-family: $font-family-sec;
	}
}

button.mat-accent.mat-button-disabled {
	background-color: $inactive-accent !important;
}
