<div class="nav">
	<a 	[routerLink]="['/first']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-first [isPreview]="true"></clt-first>
	</a>
	<a 	[routerLink]="['/second']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-second [isPreview]="true"></clt-second>
	</a>
	<a 	[routerLink]="['/third']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-third [isPreview]="true"></clt-third>
	</a>
	<a 	[routerLink]="['/fourth']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-fourth [isPreview]="true"></clt-fourth>
	</a>
	<a 	[routerLink]="['/fifth']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-fifth [isPreview]="true"></clt-fifth>
	</a>
</div>
