<div class="nav">
	<a 	[routerLink]="['/first']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-first></clt-first>
	</a>
	<a 	[routerLink]="['/second']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-second></clt-second>
	</a>
	<a 	[routerLink]="['/third']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-third></clt-third>
	</a>
	<a 	[routerLink]="['/fourth']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-fourth></clt-fourth>
	</a>
	<a 	[routerLink]="['/fifth']"
		routerLinkActive="router-link-active"
		class="nav__item">
		<clt-fifth></clt-fifth>
	</a>
</div>
