@keyframes cloud-float {
    0% {
        right: 0;
        top: 20px;
    }

    100% {
        right: calc(100% - 200px);
        top: 20px;
    }
}

@keyframes fancy-list {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fancy-expand {
    
    0% {
        height: 0;
        // opacity: 0;
    }

    25% {
        height: 25%;
        // opacity: 0.25;
    }

    50% {
        height: 50%;
        // opacity: 0.5;
    }

    100% {
        height: 100%;
        // opacity: 1;
    }
}

@keyframes fancy-close {
    
    0% {
        height: 100%;
        opacity: 1;
    }

    25% {
        height: 50%;
        opacity: 0.5;
    }
    
    50% {
        height: 25%;
        opacity: 0.25;
    }

    100% {
        height: 0%;
        opacity: 0;
    }
}

@keyframes delayed-apearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes delayed-disapearance {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes come-from-right {
    
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }
    
    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@keyframes to-45-right {
    from {
    }
    to {
      transform: rotate(-135deg);
    }
}

@keyframes to-45-left {
    from {
    }
    to {
      transform: rotate(-45deg);
    }
}

@keyframes to-90-right {
    from {
    }
    to {
      transform: rotate(90deg);
    }
}

@keyframes to-90-left {
    from {
    }
    to {
      transform: rotate(-90deg);
    }
}

// album animations
/* first image */
@keyframes image1 {
	0%   { transform: rotate(0deg) translate(0, 0) scale(1.0); }
	100% { transform: rotate(-6deg) translate(-100px, -3px) scale(1.1); }
}

/* second image:  webkit */
@keyframes image2 {
	0%   { transform: rotate(0deg) translate(0, 0) scale(1.0); }
	100% { transform: rotate(0deg) translate(0, -3px) scale(1.1); }
}

/* third image:  webkit */
@keyframes image3 {
	0%   { transform: rotate(0deg) translate(0, 0) scale(1.0); }
	100% { transform: rotate(6deg) translate(100px, -3px) scale(1.1); }
}

