@import "../app-variables";

.menu {
    display: flex;
    flex-flow: row nowrap;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item-link {
        width: 100%;
        padding: 10px 30px;
        color: $nav-text-color;
        text-transform: capitalize;
        font-weight: $font-weight-bold;
        transition: transform 500ms ease-out;


        &:hover {
            transform: scale(1.05);
            color: $text-color-thirdery;
        }
    }

    &__item-link--active {
        text-decoration: underline !important;
    }
}