@import "../app-variables";
@import "../settings/settings-breakpoints";
.poster {
    &__img {
        position: relative;
        width: 100vw;
        height: $poster-height-phone;

        @include for-tablet-portrait-up  {
            height: $poster-height-tablet-portrait;
        }

        @include for-tablet-landscape-up {
            height: $poster-height-tablet-landscape;
        }

        @include for-desktop-up {
            height: $poster-height-desktop;
        }
       
        &-pic {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #cccccc; /* Used if the image is unavailable */
            height: 100%;
            width: auto;

            @include for-tablet-portrait-up  {
                width: 100vw;
                height: auto;
            }
        }

        &-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            padding: 5px 20px;
            color: $text-color-secondary;
            text-transform: capitalize;
            background-color: rgba($primary, 0.8);
            clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
            font-size: 1.5*$font-size-base;

            @include for-desktop-up {
                padding: 10px 50px;
                font-size: 2.5*$font-size-base;
            }
        }

        &-title--primary,
        &-title--secondary  {
            display: none;
            text-transform: none;
            left: unset;
            right: 30px;
            transform: translateY(-30px);

            @include for-tablet-portrait-up {
                display: block;
                right: calc((100vw - $container-width-desktop)/2 + 50px);
            }

            @include for-desktop-up {
                // right: calc((100vw - $container-width-desktop)/2 + 50px);
            }
        }

        &-title--secondary {
            transform: translateY(30px);
            font-size: 1.1*$font-size-base;
            font-weight: $font-weight-normal;

            @include for-desktop-up {
                font-size: 1.7*$font-size-base;
            }
        }
    }
}