@import "../app-variables";

.c-card {
    min-width: 300px;
    padding: 20px;
    display: grid;
    grid-template-rows: 100px min 1fr;
    row-gap: 10px;
    align-items: start;
    box-shadow: $primary-shadow;

    i {
        font-size: 4*$font-size-base;
    }

    &--green {
        background-color: $primary;

        & > * {
            color: $text-color-secondary;
        }

        i {
            color: $text-color-secondary;
        }
    }

    &--gray {
        background-color: $card-bg;

        i {
            color: $text-color-thirdery; 
        }
    }
}