@import "../app-variables";
.card {
    box-shadow: $primary-shadow;

    &__svg {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            width: 100%;
            height: auto;
        }
    }

    &__svg--square {
        width: 70px;
        height: 70px;
        background-color: inherit;

        @include for-tablet-portrait-up {
            width: 75px;
            height: 75px;
        }

        @include for-tablet-landscape-up {
            width: 75px;
            height: 75px;
        }

        @include for-desktop-up {
            width: 80px;
            height: 80px;
        }

        img {
            max-width: 70%;
            max-height: 60%;
        }
    }

    &__svg--hexgonal {
        background-color: $primary;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 120px;
        height: calc(15/17*120px);

        @include for-tablet-portrait-up {
            width: 140px;
            height: calc(15/17*140px);
        }

        @include for-tablet-landscape-up {
            width: 150px;
            height: calc(15/17*150px);
        }

        @include for-desktop-up {
            width: 170px;
            height: calc(15/17*170px);
        }

        img {
            width: 50px;

            @include for-tablet-portrait-up {
                width: 65px;
            }

            @include for-tablet-landscape-up {
                width: 60px;
            }

            @include for-desktop-up {
                width: 70px;
            }
        }
    }

    &__svg--small {
        background-color: inherit;
        width: 60px;
    }
}
