@import "../styles/app-variables";
.clt {
	$header-height: 60px;
	$width: 100vw;

	height: 100vh;
	width: $width;
	position: relative;
	display: flex;
	flex-flow: column nowrap;


	&__main {
		height: 100%;
		width: 100%;
	}

	&__footer,
	&__header {
		display: flex;
		flex-flow: row nowrap;
		width: $width;
		position: absolute;
		z-index: 10;
		left: 0;
		font-size: 3rem;
	}

	&__header {
		height: $header-height;
		top: 0;
		left: 0;
	}

	&__footer {
		height: 20px;
		font-size: 1rem;
		font-family: $font-family-pri;
		bottom: 0;
	}

	&__header-background {
		height: $header-height;
		width: $width;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
