
.floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }
}

.floating-fast {
    animation-name: floating-fast;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating-fast {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 35px); }
    100%   { transform: translate(0, -0px); }
}

.floating-slow {
    animation-name: floating-slow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating-slow {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

.show-hide {
    animation-name: show-hide;
    animation-duration: 1s;
    animation-iteration-count: 1.85;
    animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes show-hide {
    0% { left: -100px; }
    50%  { left: -75px; }
    100%   { left: -50px;}
}
