@import "../../../../styles/app-variables";
@import "../../../../styles/settings/settings-breakpoints";

.compact {
	display: none;
	height: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 1rem;
	font-family: $font-family-pri;
	z-index: 10;
	padding: 5px 20px;

	@include for-tablet-landscape-up {
		display: flex;
	}

	* {
		font-weight: 500;
	}
}

.normal {
	height: $footer-height;

	.interest,
	.logo {
		display: none;
		@include for-tablet-landscape-up {
			display: flex;
		}
	}

	.address * {
		text-align: center;

		@include for-tablet-landscape-up {
			text-align: start;
		}
	}
}

