<div *ngIf="!activePath" class="row row--no-wrap compact">
	<a [routerLink]="['/impressum']" routerLinkActive="router-link-active">Impressum</a>
	<a [routerLink]="['/datenschutz']" routerLinkActive="router-link-active">Datenschutzerklärung</a>
	<span class="ml-a" >&copy; Copyright 2023</span>
</div>

<div *ngIf="activePath" [class]="'col normal ' + activePath">
	<div class="row row--space-around row--centered-vert mb-a mt-20">
		<div class="col address">
			<h4>Colleto Solution GmbH</h4>
			<span>Wandalenweg 20</span>
			<span>Hamburg 20097</span>
			<a href="mailto:tea@colleto.de">team&commat;colleto.de</a>
		</div>

		<div class="col interest">
			<h5> Interesse? </h5>
		</div>

		<div class="col logo">
			<img class="logo" [src]="logoPath">
		</div>
	</div>
	<hr>
	<div class="row row--centered pt-5 pb-5">
		<a [routerLink]="['/impressum']" routerLinkActive="router-link-active">Impressum</a>
		<a [routerLink]="['/datenschutz']" routerLinkActive="router-link-active">Datenschutzerklärung</a>
	</div>
</div>
